<%- include('header.ejs') %>

<h1>Search</h1>
<form  method="POST" action="/search">

    <input type="text" placeholder="Enter the Name or Location" name="search">
    <button type="submit">SEARCH</button>
</form>



<%- include ('footer.ejs') %>